{{define "nav"}}
  <nav>
    <div>
      <a href='/'>Home</a>
      {{if not .IsAuthenticated}}
        <a href='/user/login'>Login</a>
      {{else}}
        <a href='/user/logout'>Logout</a>
      {{end}}
    </div>
  </nav>
{{end}}
